<div class="mb-6 w-full">
  <app-header></app-header>
  <div class="max-sm:hidden">
    <app-sidebar></app-sidebar>
  </div>

  <div class="w-[80%] max-sm:w-[100%] mt-[88px] h-auto  md:ml-[20%] overflow-hidden">
    <div
    class="w-[98%] h-full "
  >
  <div
  class="w-[96%] h-[30rem] mx-auto mt-[1rem] bg-white border rounded-md border-gray-300 "
>
<div class="items-center mx-2">
  <a
href="user/dashboard"
class="text-red-500  my-6 flex gap-2 text-bold text-base"
>
<img
class="w-5 mt-2 h-5"
loading="lazy"
[alt]="avatarAlt"
[src]="cs0Src"
/><b class="text-red-500 font-bold font-satoshi mt-1"
>Dashboard</b
>
</a>
</div>
  <p class="text-7xl items-center max-sm:text-4xl justify-center font-bold text-red-300 flex mt-[90px]">"Coming soon"</p>

</div>
</div>
</div>
</div>
