<div class="h-96">
  <p class="mt-4 font-Satoshi text-lg font-semibold leading-6 px-2 text-red-500">Submission Insights</p>
  <div class="mt-6 text-xs px-2 text-black font-semibold flex justify-between z-[1] ">

    <button
      class="  active:border rounded-md  py-2  px-2  bg-gray-200  gap-1 hover:bg-red-300 active:bg-red-500"
      [class.bg-red-300]="isButtonActivated === 1"
      [class.text-black]="isButtonActivated === 1"
      [class.border-red-400]="isButtonActivated === 1"
       (click)="handleProofReadingData(); toggleButton(1)">Proofreading Data</button>
      <button
      class="  active:border rounded-md py-2  px-2  bg-gray-200 gap-1 hover:bg-red-300 active:bg-red-500   "  
      [class.bg-red-300]="isButtonActivated === 2"
      [class.text-black]="isButtonActivated === 2"
      [class.border-red-400]="isButtonActivated === 2"
      (click)="handleAssignmentData(); toggleButton(2)">
      Assignment Data</button>
      <!-- <button
      class="  active:border rounded-md active:rounded-md py-2  px-2  gap-1 hover:bg-red-300 active:bg-red-500  ">Grammar Errors</button> -->

  </div>

  <div class="my-3 custom-chart">
    <p-chart type="bar" [data]="data" [options]="options" ></p-chart>
  </div>
</div>
