<div class="w-full">
  <app-header></app-header>
  <app-sidebar></app-sidebar>

  <div class="mt-[88px] ml-[20%] w-[80%] overflow-hidden">
    <div
      class="mt-10 ml-[20%] justify-center rounded-md border border-gray-200 px-2 py-10 w-[60%]"
    >
      <div class="flex justify-center">
        <div class="mt-5">
          <img class="h-28 w-28" [src]="cancelpay" alt="" />
        </div>
      </div>
      <div class="mt-5 flex justify-center">
        <h1 class="text-5xl text-[#000000] font-medium">
          Your Payment Failed!
        </h1>
      </div>
      <div class="mt-4 justify-center flex">
        <p class="font-medium text-2xl text-[#000000]">
          Please try again latter
        </p>
      </div>
    </div>
  </div>
</div>
