<div class=" w-full">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="mt-[88px] ml-[20%] w-[80%] overflow-hidden">

    <div class=" mt-10 ml-[20%] justify-center rounded-md border border-gray-200 px-2 py-5 w-[60%] ">
        <div class=" flex justify-center">
            <div class=" mt-5">
                <img class="h-44 w-44" [src]="tickframeSrc" alt="">
            </div>
        </div>

        <div class=" flex justify-center">
        <h1 class=" text-7xl text-[#000000] font-medium">Thank You!</h1>
        </div>

        <div class=" mt-4 justify-center flex">
            <p class=" font-medium text-2xl text-[#000000]">Your submission is recived we will contact you soon</p>
        </div>
        <div class=" mt-5 flex justify-center">
            <Button class=" text-blue-400 font-medium text-xl"><a href="user/dashboard">Back To Home</a></Button>
        </div>
    </div>

    </div>
</div>