<nav>
  <a routerLink="/signin"></a>
  <a routerLink="/signup"></a>
  <a routerLink="/verify-email-address"></a>
  <a routerLink="/home"></a>
  <a routerLink="/sidebar"></a>
  <a routerLink="/assignment"></a>
  <a routerLink="/admin/assignments"></a>
  <a routerLink="/admin/feedbacks"></a>
  <a routerLink="/admin/proofReading"></a>
  <a routerLink="/admin/proofReadingdetails/:id"></a>
  <a routerLink="/admin/usermanagement"></a>
  <a routerLink="/admin/dashboard"></a>
  <a routerLink="/admin/showeditor"></a>
  <a routerLink="/admin/financialreport"></a>
  <a routerLink="admin/assignment-feedback/:id"></a>
  <a routerLink="/editor/proofReading"></a>
  <a routerLink="/editor/proofReadingEditordetails/:id"></a>
  <a routerLink="/editor/assignments"></a>
  <a routerLink="/editor/assignment-feedback/:id"></a>
  <a routerLink="/editor/dashboard"></a>
  <a routerLink="/editor/assignment-clarity/:id"></a>
  <a routerLink="/scan-report"></a>
  <a routerLink="/user/plagiarism"></a>
  <a routerLink="/user/proofReading&Editing"></a>
  <a routerLink="/user/academicToolkit"></a>
  <a routerLink="/user/assignmentAid"></a>
  <a routerLink="/user/showorder"></a>
  <a routerLink="/user/showeditor"></a>
  <a routerLink="/user/myscans"></a>
  <a routerLink="/user/assignment-clarity"></a>
  <a routerLink="/user/orderdetails/:id"></a>
  <a routerLink="/user/subscriptions"></a>
  <a routerLink="/user/dataAnalysisPricing"></a>
  <a routerLink="/user/billinginfo"></a>
  <a routerLink="/profile"></a>
  <a routerLink="/user/assignmentorder"></a>
  <a routerLink="/sharereport/:id/:userId"></a>
  <a routerLink="/user/assignmet-feedback"></a>
  <a routerLink="/user/orderCompletion"></a>
  <a routerLink="/user/assignment-clarity"></a>
  <a routerLink="/user/assignment-feedback"></a>
  <a routerLink="/user/show-proofReading-details/:id"></a>
  <a routeLink="/user/ai-writing"></a>
  <a routerLink="/success"></a>
  <a routerLink="/fail"></a>
  <a routerLink="/callbackss"></a>
  <a routerLink="/callback"></a>
</nav>
<router-outlet></router-outlet>
