<div class="w-full">
  <app-header ></app-header>
  <div class="max-sm:hidden">
    <app-sidebar></app-sidebar>
  </div>
  <div
    class="w-[80%] max-sm:w-[100%] mt-[88px] h-auto md:ml-[20%] overflow-hidden"
  >
    <div
      class="w-full h-full border-t border-r border-l rounded-md border-gray-300"
    >
      <div
        class="w-[95%] mx-6 mt-[1rem] bg-white border rounded-md border-gray-300"
      >
        <div class="my-[1rem]">
          <div class="w-full h-auto px-5 py-2 bg-white items-center">
            <a
              href="user/dataAnalysis"
              class="text-red-500 ml-9 my-6 flex gap-2 text-bold text-base"
            >
              <img
                class="w-5 mt-2 h-5"
                loading="lazy"
                [alt]="avatarAlt"
                [src]="cs0Src"
              /><b class="text-[#FF565F] font-bold font-satoshi mt-1"
                >Data Analysis Pricing</b
              >
            </a>
            <div class="w-[98%] mx-auto flex my-2 text-center">
              <div class="w-[45%] mx-auto h-auto border rounded-md">
                <div class="w-[70%] mx-auto h-auto">
                  <p
                    class="mt-6 mb-2 text-[#FF565F] font-bold font-satoshi text-2xl"
                  >
                    $0<span
                      class="mt-6 mb-2 text-base font-medium font-satoshi text-[#9F9F9F]"
                      >/mo</span
                    >
                  </p>
                  <p class="text-[#000000] font-satoshi text-lg font-bold my-2">
                    Basic Plan
                  </p>
                  <p
                    class="text-xs my-2 text-[#8C8C8C] font-satoshi font-normal"
                  >
                    Ideal for individual users or small projects. Provides basic
                    access to core services
                  </p>
                  <div class="w-[100%] mx-auto my-4 h-38">
                    <p
                      class="text-sm w-full gap-2 h-8 flex font-satoshi text-[#000000] font-medium"
                    >
                      <img
                        class="w-5 mt-1 h-5"
                        loading="lazy"
                        [alt]="avatarAlt"
                        [src]="cs1Src"
                      />Access to proofreading
                    </p>
                    <p
                      class="text-sm w-full gap-2 h-8 flex font-satoshi text-[#000000] font-medium"
                    >
                      <img
                        class="w-5 mt-1 h-5"
                        loading="lazy"
                        [alt]="avatarAlt"
                        [src]="cs1Src"
                      />editing services.
                    </p>
                    <p
                      class="text-sm w-full gap-2 h-8 flex font-satoshi text-[#000000] font-medium"
                    >
                      <img
                        class="w-5 mt-1 h-5"
                        loading="lazy"
                        [alt]="avatarAlt"
                        [src]="cs1Src"
                      />Basic plagiarism checks
                    </p>
                    <p
                      class="text-sm w-full gap-2 h-8 flex font-satoshi text-[#000000] font-medium"
                    >
                      <img
                        class="w-5 mt-1 h-5"
                        loading="lazy"
                        [alt]="avatarAlt"
                        [src]="cs1Src"
                      />Limited access to data analysis tools.
                    </p>
                    <p
                      class="text-sm w-full gap-2 h-8 flex font-satoshi text-[#000000] font-medium"
                    >
                      <img
                        class="w-5 mt-1 h-5"
                        loading="lazy"
                        [alt]="avatarAlt"
                        [src]="cs1Src"
                      />Standard support
                    </p>
                  </div>

                  <button
                    class="mt-2 w-full h-8 rounded-md mb-2 text-white text-base bg-red-500"
                  >
                    Get Started
                  </button>
                </div>
              </div>

              <div class="w-[45%] mx-auto h-auto border rounded-md">
                <div class="w-[70%] mx-auto h-auto">
                  <p
                    class="mt-6 mb-2 text-[#FF565F] font-bold font-satoshi text-2xl"
                  >
                    $7.99<span
                      class="mt-6 mb-2 text-base font-medium font-satoshi text-[#9F9F9F]"
                      >/mo</span
                    >
                  </p>
                  <p class="text-lg text-[#000000] font-satoshi font-bold my-2">
                    Premium Plan
                  </p>
                  <p
                    class="mt-6 mb-2 my-2 text-[#8C8C8C] font-satoshi font-normal text-xs"
                  >
                    Designed for professionals and frequent users. Offers a
                    wider range of features and enhanced support.
                  </p>
                  <div class="w-[100%] mx-auto my-4 h-38">
                    <p
                      class="text-sm w-full gap-2 h-8 flex font-satoshi text-[#000000] font-medium"
                    >
                      <img
                        class="w-5 py-auto h-5"
                        loading="lazy"
                        [alt]="avatarAlt"
                        [src]="cs1Src"
                      />Unlimited proofreading and editing.
                    </p>
                    <p
                      class="text-sm w-full gap-2 h-8 flex font-satoshi text-[#000000] font-medium"
                    >
                      <img
                        class="w-5 py-auto h-5"
                        loading="lazy"
                        [alt]="avatarAlt"
                        [src]="cs1Src"
                      />Advanced plagiarism checks (unlimited).
                    </p>
                    <p
                      class="text-sm w-full gap-2 h-8 flex font-satoshi text-[#000000] font-medium"
                    >
                      <img
                        class="w-5 py-auto h-5"
                        loading="lazy"
                        [alt]="avatarAlt"
                        [src]="cs1Src"
                      />Full access to data analysis tools.
                    </p>
                    <p
                      class="text-sm w-full gap-2 h-8 flex font-satoshi text-[#000000] font-medium"
                    >
                      <img
                        class="w-5 py-auto h-5"
                        loading="lazy"
                        [alt]="avatarAlt"
                        [src]="cs1Src"
                      />Priority support (email and phone
                    </p>
                  </div>
                  <button
                    class="mt-6 w-full h-8 rounded-md mb-2 text-white text-base bg-red-500"
                  >
                    Get Started
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
