<div class="pb-6 relative flex flex-col bg-black w-full items-center px-5 auth-body">
  <div class="w-[100%] pl-[15%] h-[70%] flex items-center absolute" *ngIf="isLoading">
    <app-loader></app-loader>
  </div>

  <!-- header for auth page start  -->
  <div class="h-[6rem] mt-0 w-full flex">
    <div class="logo w-[15%] min-w-[10rem] mb-0 flex flex-col items-center justify-center">
      <a href="https://skylineacademic.com">
        <div class="w-[5rem] h-[5rem] imageadjuster bg-center bg-no-repeat"
          [ngStyle]="{ 'background-image': logoImage }"></div>
      </a>
      <p class="text-xl mt-0 pt-0 font-bold text-white whitespace-nowrap">
        Skyline Academic
      </p>
    </div>
    <div class="btns flex items-center justify-end w-[85%] px-[2rem] h-[100%] bg-black">
      <a href="/signup">
        <!-- <button class="bg-white rounded-full whitespace-nowrap mx-2 font-bold h-[3rem] px-6">
          Sign Up
        </button> -->
      </a>
    </div>
  </div>
  <!-- header for auth page end  -->

  <div class="min-w-[35%] w-auto min-h-[40%] h-auto mx-auto bg-white sm:rounded-lg flex main-container-signin">
    <div class="w-full px-8 py-4 mt-0 rightside-signin">
      <div class="w-full justify-center items-center mt-2 mb-6">
        <h1
          class="text-4xl h-[20%] flex items-end justify-center tracking-wider xl:text-4xl w-[100] text-center font-extrabold text-[#f76871] whitespace-nowrap">
          Forgot Password
        </h1>
        <p class="text-black text-xl flex justify-center items-start h-[20%]">
          Enter your email address to reset your password.
        </p>
      </div>

      <form #form="ngForm" (ngSubmit)="resetPassword()">
        <div class="mt-4">
          <label class="block text-black text-sm font-bold mb-2">Email Address</label>
          <input class="text-black border border-gray-300 outline-none rounded py-2 px-4 block w-full focus:outline-2"
            type="email" name="email" [(ngModel)]="email" placeholder="Enter your email" required />
        </div>

        <div class="mt-8">
          <button type="submit" class="bg-[#FF565F] text-white h-12 font-bold py-2 px-4 w-full rounded-3xl">
            Forgot Password
          </button>
        </div>
      </form>

      <div class="mt-6 mb-4 flex items-center w-full text-center">
        <a href="/signin" class="text-base text-black capitalize text-center w-full">
          Remembered your password?
          <span class="text-[#f76871] font-semibold"> Sign In</span>
        </a>
      </div>
    </div>
  </div>
</div>
